	<section class="section-content secondary-background-color">
		<img class="top-diagonal hidden-xs hidden-sm" src="/media/img/top-diagonal-grey.png" alt="">
		<div class="container padding-top-10 padding-bottom-70">
			<div class="row">
				<h2 class="top-block">Livida Fitness is about making positive, lasting changes in your life. I believe that losing weight and getting fit is about more than just exercise. I can help you break down barriers, mental and physical, to help you live your life the way you want.</h2>
			</div>
		</div>
	</section>

	<section id="features" class="section-content main-background-color">
		<img class="top-diagonal hidden-xs hidden-sm" src="/media/img/top-diagonal.png" alt="">
		<div class="container padding-top-50 padding-bottom-50">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-center">Your Choice of</h1>
					<hr class="margin-bottom-50">

					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="options vertical">
                                   <div class="option_photo">
                                        <figure style="background-image:url(media/img/outdoor-train.jpg)"></figure>
                                   </div>
                                   <div class="option_details">
                                        <h2 class="text-center">100% Private Studio</h2>
                                        <p class="lead">I offer one-on-one personal training in small 100% private studio in Drummoyne, NSW.</p>
										<p class="lead">That means:
											<ul>
												<li>workouts tailored to your individual needs</li>
												<li>full fitness assessment and goal setting</li>
												<li>nutrition support</li>
												<li>no intimidating gym environment</li>
											</ul>
										</p>
									</div>
                              </div>
						</div>
						<div class="col-sm-6 col-xs-12">
							<div class="options vertical">
                               <div class="option_photo">
                                    <figure style="background-image:url(media/img/outdoor-train.jpg)"></figure>
                               </div>
                               <div class="option_details">
                                    <h2 class="text-center">Outdoor By The Water</h2>
									<p class="lead">I also offer outdoor by the water in Drummoyne and Chiswick for those that love the outdoors.</p>
									<p class="lead">Varied workouts tailored to your individal needs.</p>
								</div>
                             </div>
						</div>
					</div>
			</div>
		</div>

		<div class="container padding-top-10 padding-bottom-20">
			<div class="row">
				<div class="col-lg-12">

					<h1 class="text-center">All parts of the healthy puzzle</h1>
					<hr class="margin-bottom-50">

					<!-- Features -->
					<div class="margin-top-30 margin-bottom-30">
						<div class="row">
							<div class="col-sm-5 col-xs-12">
								<!-- Feature Thumb -->
								<div class="features-thumb">
									<div class="thumb-header">
										<h3 class="text-center">Accountability</h3>
									</div>

									<div class="thumb-content">
										<!-- Icon -->
										<div class="margin-top-20 margin-bottom-20">
											<p class="text-center">
												<i class="fa fa-slideshare fa-5x text-brand-main-color"></i>
											</p>
										</div>
										<!-- End Icon -->

										<p>There's nothing like a standing appointment to make you get up and go.  Knowing that your trainer is going to ask you about your workouts makes it harder to skip them.  You are on a journey together, and you need to keep up your end of the bargain.</p>
									</div>
								</div>
								<!-- End Feature Thumb -->
							</div>
							<div class="col-sm-5 col-sm-offset-2 col-xs-12">
								<!-- Feature Thumb -->
								<div class="features-thumb">
									<div class="thumb-header">
										<h3 class="text-center">Knowledge</h3>
									</div>

									<div class="thumb-content">
										<!-- Icon -->
										<div class="margin-top-20 margin-bottom-20">
											<p class="text-center">
												<i class="fa fa-book fa-5x text-brand-main-color"></i>
											</p>
										</div>
										<!-- End Icon -->

										<p>Sometimes it's hard to know where to start, or how to sift through all the information out there.  Your personal trainer will assess your goals and abilities and tailor a program to your needs, meaning you don't have to worry about it.</p>
									</div>
								</div>
								<!-- End Feature Thumb -->
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4 col-xs-12">
								<p class="text-center" id="livida-piece">
									<img src="/media/img/livida-piece.png">
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 col-xs-12">
								<!-- Feature Thumb -->
								<div class="features-thumb">
									<div class="thumb-header">
										<h3 class="text-center">Motivation</h3>
									</div>

									<div class="thumb-content">
										<!-- Icon -->
										<div class="margin-top-20 margin-bottom-20">
											<p class="text-center">
												<i class="fa fa-bullhorn fa-5x text-brand-main-color"></i>
											</p>
										</div>
										<!-- End Icon -->

										<p>It's easy to slack off or give up when you are working out by yourself.  Your personal trainer will make sure you make the most of your time and money and keep you honest to your own goals.  It's like having your own personal cheerleader on your side.</p>
									</div>
								</div>
								<!-- End Feature Thumb -->
							</div>
							<div class="col-sm-5 col-sm-offset-2 col-xs-12">
								<!-- Feature Thumb -->
								<div class="features-thumb">
									<div class="thumb-header">
										<h3 class="text-center">Results</h3>
									</div>

									<div class="thumb-content">
										<!-- Icon -->
										<div class="margin-top-20 margin-bottom-20">
											<p class="text-center">
												<i class="fa fa-bar-chart fa-5x text-brand-main-color"></i>
											</p>
										</div>
										<!-- End Icon -->

										<p>If you've tried everything and you are still not getting results, it might be time to consult a personal trainer.  A trainer can look at your program and eating habits and make changes to help you achieve your goals.</p>
									</div>
								</div>
								<!-- End Feature Thumb -->
							</div>

						</div>
					</div>
					<!-- End Features -->
				</div>
			</div>
		</div>
	</div>

		<img class="bottom-diagonal hidden-xs hidden-sm" src="/media/img/bottom-diagonal.png" alt="">
	</section>
