		<section class="blockquote fullscreen-content">
			<div class="fullscreen-image background-image-01" data-bottom-top="background-position-y: 200px" data-0-top="background-position-y: 0px" data-top-bottom="background-position-y: -200px"></div>

			<div class="container padding-top-100 padding-bottom-100">
				<div class="row">
					<div class="col-lg-8">
						<div class="teaser">
							<h2 class="">Want to get fit and healthy but don't feel comfortable in a gym?</h2>

							<h2 class="">I offer 100% private personal training sessions in a small studio based in Drummoyne.</h2>
						
							<h3 class="text-brand-main-color">Get in touch to see how I can help you achieve your goals.</h3>
						</div>
						<p class="text-center margin-top-40">
							<a href="{{ site.blockquote.button_url }}" class="btn btn-default">{{ site.blockquote.button_text }}</a>
						</p>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
			</div>
		</section>