		<section id="services" class="section-content main-background-color">
			<img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">

			<div class="container">
				<div class="row">
					<div class="col-lg-12">

						<h1 class="text-center">Outdoor Group Training - Bootcamps</h1>
						<hr class="margin-bottom-50">

						<h2 class="text-center">Bootcamps run at Lysaght Park, Chiswick and Ryde Park, Ryde.</h2>
						<div class="margin-top-80 margin-bottom-50">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<i class="fa fa-sun-o fa-5x text-brand-main-color margin-top-20"></i>
										</div>
										<div class="col-lg-9 col-md-9">
											<h3 class="text-main-brand-color">Early Mornings</h3>
											<p>Want to get your workout in before you hit the office?  I offer fun, varied and energetic early morning bootcamps in Sydney's inner west.</p>
											<p class="text-center"><a href="/morning-bootcamp-drummoyne" class="btn btn-primary btn-md" role="button">Find out more</a>
												
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<i class="fa fa-child fa-5x text-brand-main-color margin-top-20"></i>
										</div>
										<div class="col-lg-9 col-md-9">
											<h3 class="text-main-brand-color">Mums & Bubs</h3>
											<p>I currently offer a Mums & Bubs specific bootcamp at 9:30am on Monday and Wednesday mornings at Lysaght Park in Chiswick.</p><p></p>The next 9 week term starts 5th January 2015.  Sessions are $15 each for a drop-in session or $12 each if you sign up for the term. </p>
											<p class="text-center"><a href="/#contact" class="btn btn-primary btn-md" role="button">Email to book your free trial now!</a></p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
									<div class="row">
										<div class="col-lg-3 col-md-3">
											<i class="fa fa-moon-o fa-5x text-brand-main-color margin-top-20"></i>
										</div>
										<div class="col-lg-9 col-md-9">
											<h3 class="text-main-brand-color">Evenings</h3>
											<p>Are you a night owl, or only have time in the evenings to work out?  I also offer after work bootcamp sessions. </p>
											<p class="text-center"><a href="/evening-bootcamp-drummoyne" class="btn btn-primary btn-md" role="button">Find out more</a></p>
										</div>
									</div>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>

			<img class="bottom-diagonal hidden-xs hidden-sm" src="media/img/bottom-diagonal.png" alt="">
		</section>
