
/* ==========================================================================
   General Styles
   ========================================================================== */

// User Select Cancel
// -------------------------

body {

	overflow-x: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

// Webkit Custom Scrollbar
// -------------------------

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {

    -webkit-border-radius: 0px;
            border-radius: 0px;

    background: fade($brand-main-color , 10);
}

::-webkit-scrollbar-thumb {

    -webkit-border-radius: 0px;
           border-radius: 0px;

    background: $brand-main-color;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: fade($brand-main-color , 50);
}

// General Styles
// -------------------------

.fullscreen-content {

	position: relative;
	display: block;
	min-width: 100%;
	min-height: 100%;

}

.fullscreen-image {

	position: absolute;
	z-index: 1;
	display: block;
	min-width: 100%;
	min-height: 100%;

}

.container {

	position: relative;
	z-index: 2;
	display: block;

}

// Image Backgrounds
// -------------------------

.hero-image {
	@include cover-image($hero-background-image);
}

.background-image-01 {
	@include cover-image($blockquote-background-image);
}

// Background Colors
// -------------------------

.main-background-color {
	background-color: $brand-main-background-color;
}

.secondary-background-color {
	background-color: $brand-secondary-background-color;
}

// Welcome Text
// -------------------------

.welcome {

	h1 {

		font-size: 60px;
		font-family: $livida-font;
		letter-spacing: 10px;
		color: $livida-blue;

	}
	h2 {
		font-size: 30px;
		font-family: $brand-main-font;
		letter-spacing: 10px;
		color: $livida-yellow;
	}

	h4 {

		font-family: $brand-main-font;
		font-weight: 300;
		letter-spacing: 2px;

	}
	background-color: $livida-black;
	padding: 0px 20px 10px 20px;
	border-radius: 10px;
}

// Horizontal Ruler
// -------------------------

hr {

	height: 5px;
	margin: 20px auto;
	border-top: 1px solid $brand-secondary-color;
	border-bottom: 1px solid $brand-secondary-color;
	border-color: $brand-main-color;
	max-width: 200px;

}

// Blockquote
// -------------------------
.teaser {
	background-color: rgba(42,42,42,0.95);
	padding: 0px 20px 10px 20px;
	border-radius: 10px;
	h2 {
		font-size: 30px;
		font-family: $brand-main-font;
		color: $livida-blue;
	}
	h3{
		font-size: 25px;
		color: $livida-yellow;	
	}
}

.blockquote {

	h3 {

		font-size: 20px;
		font-family: $brand-secondary-font;

	}
}

// Feature
// -------------------------

.top-block {
	letter-spacing: 1px;
	line-height: 1.4em;
}

@media (min-width: 720px) {
	#livida-piece {
		margin: -50px 0px;
	}
}


// Content Section
// -------------------------

.option_photo {
	padding: 0px 40px;
}

.option_photo figure {
  border-radius: 0px;
  min-height: 240px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 0;
}

.option_details {
	border-top: solid 1px #ccc;
	background-color: transparent;
	height: auto;
	min-height: 100px;
  	padding: 0 40px 0 20px;
}

.section-content {
	min-height: 200px;
}

// Google Maps Canvas
// -------------------------

#map-canvas {
	width:100%;
	height: 650px;
}

// Diagonals
// -------------------------

.top-diagonal {

	position: absolute;
	z-index: 3;
	margin-top: -80px;
	width: 100%;
	height: 80px;
	display: block;

}

.bottom-diagonal {

	position: relative;
	z-index: 3;
	bottom: -80px;
	width: 100%;
	height: 80px;
	display: block;

}

.bottom-diagonal-navbar {

	position: relative;
	width: 100%;
	height: 150px;
	display: block;

}

// About Me section
// -------------------------

.about p {
	font-size: 1.4em;
}

